* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  width: 100%;
  padding: 20px;
}
.nav .nav-con {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
  align-items: center;
}
.nav .nav-con button {
  width: 211px;
  height: 60px;
  color: #fff;
  background-color: #ff7143;
  border: none;
  border-radius: 10px;
}
.nav .nav-con ul {
  display: flex;
  list-style: none;
  gap: 50px;
  font-size: 15px;
  font-weight: 700;
}
@media (max-width: 500px) {
  .nav .nav-con ul,
  .nav .nav-con button {
    display: none;
  }
}

.sec-1 {
  width: 100%;
  padding: 20px;
}
.sec-1 .sec-con {
  max-width: 1250px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.sec-1 .sec-con .w-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec-1 .sec-con .w-all .flex {
  display: flex;
  gap: 20px;
}
.sec-1 .sec-con .w-all .w-50 h1 {
  font-size: 80px;
  font-weight: 700;
}
.sec-1 .sec-con .w-all .w-50 p {
  width: 459px;
  height: 90px;
  top: 261px;
  color: gray;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.sec-1 .sec-con .w-all .w-50 button {
  width: 211px;
  height: 60px;
  color: #fff;
  background-color: #5454d4;
  border: none;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .sec-1 .sec-con .w-all {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .sec-1 .sec-con .w-all .flex img {
    width: 10px;
  }
  .sec-1 .sec-con .w-all .flex button {
    margin-top: 100px;
  }
  .sec-1 .sec-con .w-all img {
    width: 70%;
    margin: 0 auto;
  }
  .sec-1 .sec-con .w-all .w-50 h1 {
    font-size: 45px;
  }
  .sec-1 .sec-con .w-all .w-50 p {
    height: 0;
    width: 100%;
  }
}

.sec-2 {
  width: 100%;
}
.sec-2 .sec2-con {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-2 .sec2-con .img-flexs {
  display: flex;
  gap: 120px;
}
@media (max-width: 500px) {
  .sec-2 .img-flexs {
    gap: 10px;
    flex-direction: column;
  }
}

.sec-3 {
  width: 100%;
  margin-top: 100px;
}
.sec-3 .sec3-con {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-3 .sec3-con .n-all {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
.sec-3 .sec3-con .n-all h1 {
  font-size: 50px;
  font-weight: 700;
}
.sec-3 .sec3-con .n-all p {
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
  color: gray;
}
@media (max-width: 500px) {
  .sec-3 {
    padding: 20px;
  }
  .sec-3 .n-all {
    flex-direction: column;
  }
  .sec-3 .n-all img {
    width: 90%;
  }
}

.sec-4 {
  width: 100%;
  margin-top: 100px;
}
.sec-4 .sec4-con {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-4 .sec4-con .n-all {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-4 .sec4-con .n-all .l-10 {
  margin-top: 40px;
}
.sec-4 .sec4-con .n-all h1 {
  font-size: 50px;
  font-weight: 700;
}
.sec-4 .sec4-con .n-all p {
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
  color: gray;
}
@media (max-width: 500px) {
  .sec-4 {
    padding: 20px;
  }
  .sec-4 .n-all {
    flex-direction: column;
  }
  .sec-4 .n-all img {
    width: 90%;
  }
}

.sec-5 {
  width: 100%;
}
.sec-5 .sec5-con {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-5 .sec5-con .all {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  gap: 130px;
}
.sec-5 .sec5-con .all h1 {
  margin-top: 20px;
}
.sec-5 .sec5-con .all p {
  height: 48px;
  color: gray;
}
@media (max-width: 500px) {
  .sec-5 .sec5-con .all {
    margin-top: 100px;
    gap: 30px;
    flex-direction: column;
  }
}

.sec-6 {
  width: 100%;
}
.sec-6 .sec6-con {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.sec-6 .sec6-con .button-hover {
  background-color: #f7f7fb;
  display: flex;
  width: 344px;
  height: 65px;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  gap: 20px;
  border-radius: 10px;
  opacity: 0px;
}
.sec-6 .sec6-con .button-hover .blue1 {
  width: 160px;
  height: 55px;
  background-color: #f7f7fb;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-6 .sec6-con .button-hover .blue1 h1 {
  margin-left: 20px;
  font-size: 26px;
}
.sec-6 .sec6-con .button-hover .white1 {
  width: 160px;
  height: 55px;
  background-color: #f7f7fb;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-6 .sec6-con .button-hover .white1 h1 {
  margin-left: 20px;
  font-size: 26px;
}
.sec-6 .sec6-con .button-hover .blue1:hover {
  background-color: #5454d4;
  color: #fff;
}
.sec-6 .sec6-con .button-hover .white1:hover {
  background-color: #5454d4;
  color: #fff;
}
.sec-6 .sec6-con .h1-header {
  display: flex;
  justify-content: space-between;
}
.sec-6 .sec6-con .h1-header h1 {
  font-size: 40px;
}
.sec-6 .sec6-con .sell {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  gap: 100px;
}
.sec-6 .sec6-con .sell .sel-slow {
  border-radius: 10px;
  margin: 0 auto;
  height: 400px;
  text-align: center;
  transition: 0.5s;
  background-color: #f7f7fb;
  width: 330px;
}
.sec-6 .sec6-con .sell .sel-slow h3 {
  color: rgba(63, 60, 60, 0.6980392157);
}
.sec-6 .sec6-con .sell .sel-slow p {
  color: rgba(63, 60, 60, 0.6980392157);
}
.sec-6 .sec6-con .sell .sel-slow h3 {
  margin-top: 50px;
}
.sec-6 .sec6-con .sell .sel-slow h1 {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}
.sec-6 .sec6-con .sell .sel-slow h1 span {
  font-size: 30px;
}
.sec-6 .sec6-con .sell .sel-slow button {
  background-color: #fff;
  color: #5454d4;
  width: 265px;
  height: 50px;
  border-radius: 10px;
  border: none;
  margin-top: 50px;
}
.sec-6 .sec6-con .sell .sel-slow:hover {
  background-color: #ff7143;
}
.sec-6 .sec6-con .sell .sel-slow:hover button {
  background-color: #9f3919;
  color: white;
}
.sec-6 .sec6-con .sell .sel-slow:hover p {
  color: white;
}
.sec-6 .sec6-con .sell .sel-slow:hover h1 {
  color: white;
}
.sec-6 .sec6-con .sell .sel-slow:hover h3 {
  color: white;
}
@media (max-width: 500px) {
  .sec-6 {
    padding: 20px;
  }
  .sec-6 .sec6-con .sell {
    flex-direction: column;
  }
  .sec-6 .sec6-con .sell .sel-slow {
    width: 300px;
  }
  .sec-6 .sec6-con .h1-header {
    flex-direction: column;
  }
  .sec-6 .sec6-con .h1-header h1 {
    font-size: 30px;
  }
  .sec-6 .sec6-con .button-hover {
    margin-left: 0px;
    margin-top: 20px;
    width: 200px;
  }
}/*# sourceMappingURL=style.css.map */